http://albionlabs.net {
	reverse_proxy 192.168.1.61:8080
}

http://uptime.albionlabs.net {
	reverse_proxy 192.168.1.61:3001
}

http://portainer.albionlabs.net {
	redir https://192.168.1.61:9443
}

http://pve.albionlabs.net {
	redir https://192.168.1.32:8006
}
